@model IEnumerable<AeroDroxUAV.Models.DroneServices>
@* RZ2005 & RZ2001 FIX: Ensure the @model line is the very first line. *@

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownServices" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownServices">
        @if (Model != null && Model.Any())
        {
            foreach (var service in Model)
            {
                // CS8602 Warnings are addressed by the null/Any check above, but adding 
                // a local null check in case the enumerator contains nulls is safer if the list can have null elements.
                if (service != null) 
                {
                    <li>
                        <a class="dropdown-item" 
                           asp-controller="DroneServices" 
                           asp-action="Details" 
                           asp-route-id="@service.Id">
                            @service.Name 
                        </a>
                    </li>
                }
            }
        }
        else
        {
            <li><span class="dropdown-item disabled">No services available</span></li>
        }
        
        @* Add a separator and a link to the main services page for completeness *@
        @if (Model != null && Model.Any())
        {
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" 
                   asp-controller="DroneServices" 
                   asp-action="Index">
                    View All Services
                </a>
            </li>
        }
    </ul>
</li>