@model DemoMVCApp.Models.Student

<h2>Student Details</h2>

<p><b>ID:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Course:</b> @Model.Course</p>

<style>
    body { font-family: Arial; padding:20px; }
    h2 { color:#4CAF50; }
    p { font-size:18px; }
</style>
